<app-navbar (signatureDetails)="handleSignatureDetails($event)"></app-navbar>
<div *ngIf="!imageTab" class="outerDiv" >
  <div fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100%">
      <h1>Welcome to M Truck</h1>
      <button class="CashButton" (click)="payMeOut()" >Pay me out {{balanceAmount}} sol</button>
    </div>
    <h3>Your Journey to Real Earnings Starts Here!</h3>
  </div>
  
  <div fxLayout="row wrap" fxLayoutGap="50px">
    <div *ngFor="let item of workerDetails?.imageDetails">
      <div fxLayout="column" fxLayoutAlign="center center" class="imageBox">
        <h4>Ready for Task {{ item?.id }}?</h4>
        <button (click)="startTask(item?.id)">Start Earning Now</button>
      </div>
    </div>

  </div>
</div>


<div *ngIf="imageTab">
    <ng-container *ngTemplateOutlet="imageTabTemplate"></ng-container>
</div>

<ng-template #imageTabTemplate>
 <div fxLayout="column" class="outerDiv">
    <h1>Choose the best thumbNail.</h1>
     <div fxLayout="row wrap" fxLayoutGap="10px" >
    <div *ngFor="let image of workerDetails?.urlArray" >
      {{image.id}}
         <mat-radio-group [(ngModel)]="selectedValues"> 
           <div fxLayout="column" fxLayoutAlign="center center">
               <img [src]="image.url" class="imageSize">
               <mat-radio-button [value]="image.id"></mat-radio-button>
           </div>
       </mat-radio-group>
   </div>
</div>
    <button class="buttonClass" (click)="saveSubmission()">Submit</button>
 </div>
</ng-template>


