<app-navbar></app-navbar>
<div class="outerDiv">
    <h1 class="titleCard">{{responseData?.Name}}</h1>
    <div *ngFor='let data of responseData?.options' class="responseContainer" fxfill="70">
      <div fxFlex="30">
        <img [src]="data.url" alt="Image" class="imageSize" >
      </div>
      <div fxFlex="70">
        <h3>Submission: {{data?.submissions?.length}}</h3>
      </div>
    </div>
    <div *ngIf="finalOptionReponse" class="finalResult">
        <h3>The Image with the highest submission: {{finalOptionReponse?.submissions?.length}}</h3>
        <img [src]="finalOptionReponse?.url" alt="Image" class="imageSize">
    </div>
</div>
